{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "node": true,
        "browser": true,
    },
    "plugins": [
        "react"
    ],
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "settings": {
        "react": {
            "pragma": "React",
            "version": "15.0"
        }
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "ecmaFeatures": {
        "jsx": true
    },
    "rules": {
        "comma-dangle": [1, "always-multiline"],
        "no-cond-assign": 2,
        "no-constant-condition": 1,
        "no-debugger": 2,
        "no-dupe-args": 2,
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "no-empty": 1,
        "no-extra-boolean-cast": 1,
        "no-extra-parens": 0,
        "no-extra-semi": 2,
        "no-func-assign": 1,
        "no-inner-declarations": 1,
        "no-invalid-regexp": 2,
        "no-irregular-whitespace": 2,
        "no-regex-spaces": 2,
        "no-sparse-arrays": 2,
        "no-unreachable": 2,
        "no-unused-vars": 2,
        "valid-typeof": 2,
        "no-unexpected-multiline": 2,
        "block-scoped-var": 1,
        "consistent-return": 1,
        "curly": 2,
        "eqeqeq": 2,
        "no-eval": 2,
        "no-extend-native": 1,
        "no-extra-bind": 1,
        "no-fallthrough": 1,
        "no-floating-decimal": 1,
        "no-implied-eval": 2,
        "no-invalid-this": 2,
        "no-lone-blocks": 2,
        "no-loop-func": 2,
        "no-multi-spaces": 2,
        "no-new": 2,
        "no-octal": 2,
        "no-redeclare": 2,
        "no-return-assign": 2,
        "no-unused-expressions": 2,
        "no-useless-call": 2,
        "no-with": 2,
        "radix": 1,
        "vars-on-top": 1,
        "wrap-iife": 2,
        "array-bracket-spacing": [2, "never"],
        "brace-style": [2, "1tbs", { "allowSingleLine": true }],
        "comma-spacing": [2, {"before": false, "after": true}],
        "computed-property-spacing": [2, "never"],
        "consistent-this": [1, "self"],
        "eol-last": 2,
        "indent": [2, 4, {"SwitchCase": 1}],
        "key-spacing": [2, { "beforeColon": false, "afterColon": true }],
        "no-array-constructor": 2,
        "no-lonely-if": 1,
        "no-multiple-empty-lines": [1, {"max": 2}],
        "no-nested-ternary": 2,
        "no-spaced-func": 2,
        "no-trailing-spaces": 2,
        "no-underscore-dangle": 0,
        "no-unneeded-ternary": 2,
        "operator-linebreak": [2, "before"],
        "quote-props": [2, "as-needed"],
        "quotes": [1, "single", "avoid-escape"],
        "semi": [2,"never"],
        "keyword-spacing": 2,
        "space-before-blocks": [2, "always"],
        "space-before-function-paren": [2, "never"],
        "space-in-parens": [2, "never"],
        "space-infix-ops": 1,
        "spaced-comment": [2, "always"],
    }
}
